[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/electimon
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/electimon
	label-Verified = -1..+1 group user/electimon
	push = group user/electimon
	read = group user/electimon
	rebase = group user/electimon
	removeReviewer = group user/electimon
	submit = group user/electimon
[access "refs/heads/*"]
	create = group user/electimon
	push = +force group user/electimon
	pushMerge = group user/electimon
	read = group user/electimon
[access "refs/tags/*"]
	push = group user/electimon
	push = +force group user/electimon
